﻿@model Catalog.Models.Movie

@{
    ViewBag.Title = "Информация о фильме";
}

<h2>Информация о фильме</h2>

<fieldset>
    <legend>Фильм</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Producer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Producer)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Poster)
    </div>
    <div class="display-field">
        @Html.Raw("<img style='width:300px;height:200px;'src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Poster) + "\"/>")
    </div>

</fieldset>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("На главную", "Index")
</p>
